body {
    background-color: lightblue;
}

.book-list{
    display: grid;
    grid-template-columns: repeat(4,minmax(50px,1fr));
    grid-template-rows: repeat(4,minmax(150px,1fr));
    text-align: center;
    gap: 0.6em;
}
.book-preview{
    display: flex;
    flex-direction: column;
    /* grid-template-rows: 2fr ; */
}
.book-thumbnail{
    height: 50%;
    
}
.book-thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}